@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #2e92cc 0%, #00c3ff 74%);
}